*{
  font-family:"Comic Sans MS";
  color:black;
}
body{
  padding: 0px ;
  margin: 0px ;
  width:100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
}
html{
  width:100vw;
  height:100vh;
}
#ordering{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}

.order{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-grow: 2;
  flex-basis: auto;
}

.drop{
  height:100%;
  width:50%;
  margin-left: 5%;
}

select{
  padding: 0px !important;
  margin: 0px ;
}
.aboutme{
  width:50%;
  height :100%;
  flex-grow: 2;
  flex-basis: auto;
}
#about{
  height: 50%;

}
.about-content{
  display: flex;

  height:100%;
}
#about-picture{
  background-image: url("stars.jpg");
  background-position: center;

  background-size: cover;
  height:100%;
}
#mainbox{
  padding-bottom: 0;
  padding
margin: 10px;
  width: 90%;
  height:100%
}
#nav{
  padding: 0px !important;
  margin: 0px ;
  background-color: lightgrey;
  width:10%;
  height: 100%;
  position: absolute;

}
